<?xml version="1.0"?>
<launch>
  <!-- Common modules -->
  
	<!-- RVIZ representation stuff -->
 	<node name="transform" pkg="transform_from_vicon" type="node" args="4 5 6"/> 
	
	<!-- Arcas Visualizer -->
	<node name="arcas_visualizer" pkg="arcas_visualizer" type="arcas_visualizer"/>
	
<!-- UAV 4 Modules -->

	<!-- ORCA Module -->
	<node name="orca_4" pkg="orca_module" type="orca_launcher" args="0 $(find simulations_thesis)/3_uavs/config_1_fast $(find simulations_thesis)/Media/models/obstacles_no_floor.3ds">
	  
	</node>

	<!-- Waypoint List Follower follower Point Node. -->
	<node name="trajectory_generator_4" pkg="tg" type="trajectory_generator" args="4 --min_dist 0.75" >
		<remap from="/trajectory_generator_4/out_velocity" to="/orca_4/v_pref" />	
	</node>
	
<!-- UAV 5 Modules -->

	<!-- ORCA Module -->
	<node name="orca_5" pkg="orca_module" type="orca_launcher" args="1 $(find simulations_thesis)/3_uavs/config_1_fast $(find simulations_thesis)/Media/models/obstacles_no_floor.3ds">
	  
	</node>
	<!-- Waypoint List Follower follower Point Node. -->
	<node name="trajectory_generator_5" pkg="tg" type="trajectory_generator" args="5 --min_dist 0.75" >
		<remap from="/trajectory_generator_5/out_velocity" to="/orca_5/v_pref" />	
	</node>
	
<!-- UAV 6 Modules -->

	<!-- ORCA Module -->
	<node name="orca_6" pkg="orca_module" type="orca_launcher" args="2 $(find simulations_thesis)/3_uavs/config_1_fast $(find simulations_thesis)/Media/models/obstacles_no_floor.3ds">
	  
	</node>
	<!-- Waypoint List Follower follower Point Node. -->
	<node name="trajectory_generator_6" pkg="tg" type="trajectory_generator" args="6 --min_dist 0.75" >
		<remap from="/trajectory_generator_6/out_velocity" to="/orca_6/v_pref" />	
	</node>
	
</launch>

